<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="border border-secondary p-3">
                <!-- Form 4 -->
                <div id="form1" class="form-container">
                    <form>
                        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
                        <div class="card">
                            <div class="card-body">
                                <div class="table-responsive">
                                    <table class="table">
                                        <thead>
                                        <tr>
                                            <th>Purchases in the Quarter<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;(Input)</th>
                                            <th>Value Excluding VAT<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;(A)</th>
                                            <th>VAT Claimed<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;(B)</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr>
                                            <td>
                                                <label>4.Exempt or non-creditable purchases:</label>
                                            </td>
                                            <td><input type="text" name="p_exempt_rate_a" oninput="this.value = this.value.replace(/[^0-9]/g, '')" required></td>
                                            <td><input type="text" name="p_exempt_rate_b" oninput="this.value = this.value.replace(/[^0-9]/g, '')" required></td>
                                        </tr>
                                        </tbody>
                                        <tbody>
                                        <tr>
                                            <td>
                                                <label>5.<input type="text" name="input" oninput="this.value = this.value.replace(/[^0-9]/g, '')" required>...% Rate Purchases:</label>
                                            </td>
                                            <td><input type="text" name="p_4_rate_a" oninput="this.value = this.value.replace(/[^0-9]/g, '')" required></td>
                                            <td><input type="text" name="p_4_rate_b" oninput="this.value = this.value.replace(/[^0-9]/g, '')" required></td>
                                        </tr>
                                        </tbody>
                                        <tbody>
                                        <tr>
                                            <td>
                                                <label>6.<input type="text" name="input" oninput="this.value = this.value.replace(/[^0-9]/g, '')" required>...% Rate Purchases:</label>
                                            </td>
                                            <td><input type="text" name="p_12_5_rate_a" oninput="this.value = this.value.replace(/[^0-9]/g, '')" required></td>
                                            <td><input type="text" name="p_12_5_rate_b" oninput="this.value = this.value.replace(/[^0-9]/g, '')" required></td>
                                        </tr>
                                        </tbody>
                                        <tbody>
                                        <tr>
                                            <td><label>7. 1% Rate purchases:</label></td>
                                            <td><input type="text" name="p_1_rate_a" oninput="this.value = this.value.replace(/[^0-9]/g, '')" required></td>
                                            <td><input type="text" name="p_1_rate_b" oninput="this.value = this.value.replace(/[^0-9]/g, '')" required></td>
                                        </tr>
                                        </tbody>
                                        <tbody>
                                        <tr>
                                            <td>
                                                <label>8.<input type="text" name="input" oninput="this.value = this.value.replace(/[^0-9]/g, '')" required>...% Rate Purchases(Schedule V):</label>
                                            </td>
                                            <td><input type="text" name="rate_p_8_a" oninput="this.value = this.value.replace(/[^0-9]/g, '')" required></td>
                                            <td><input type="text" name="rate_p_8_b" oninput="this.value = this.value.replace(/[^0-9]/g, '')" required></td>
                                        </tr>
                                        </tbody>
                                        <tbody>
                                        <tr>
                                            <td>
                                                <label>9.<input type="text" name="input" oninput="this.value = this.value.replace(/[^0-9]/g, '')" required>...% Rate Purchases(Schedule V):</label>
                                            </td>
                                            <td><input type="text" name="rate_p_9_a" oninput="this.value = this.value.replace(/[^0-9]/g, '')" required></td>
                                            <td><input type="text" name="rate_p_9_b" oninput="this.value = this.value.replace(/[^0-9]/g, '')" required></td>
                                        </tr>
                                        </tbody>
                                        <tbody>
                                        <tr>
                                            <td><label>10.Total Amount of Input Tax:</label></td>
                                            <td></td>
                                            <td><input type="text" name="tot_amt_imp_tax" oninput="this.value = this.value.replace(/[^0-9]/g, '')" required></td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="card-footer text-right">
                                <button type="button" class="btn btn-next" onclick="nextPage()">Save & Next</button>
                            </div>
                        </div>
                    </form>
                </div>
                    <!-- Your form 4 code goes here -->
                </div>
                <!-- Form 5 -->
                <div id="form5" class="form-container">
                    <!-- Your form 5 code goes here -->
                </div>
            </div>
        </div>
    </div>
</div>

